@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

html {
    font-size: 24;
    font-family: 'Space Mono', monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: var(--light-grayish-cyan);
}

header {
    width: 700px;
    height: 50px;
    margin-top: 7%;
    margin-bottom: 4%;
    text-align: center;
    font-size: 1.5rem;
}

main {
    width: 700px;
    height: 350px;
    border-radius: 1rem;
    background-color: var(--white);
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
}

h2 {
    margin-bottom: 10px;
}

.left-section {
    width: 50%;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 1rem;
}
.right-section {
    width: 50%;
    height: auto;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--very-dark-cyan);
    margin-left: 1rem;
}

.tips {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-shrink: 1;
    gap: 0.34rem;
}

.btn {
    font-family: 'Space Mono', monospace;
    color: var(--white);
    font-size: 1.4rem;
    background-color: var(--very-dark-cyan);
    border: none;
    border-radius: 5px;
    width: 6rem;
    text-align: center;
    padding: 5px;
}

.btn:hover, .btn:focus {
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}



.custom {
    background-color: var(--very-light-grayish-cyan);
    color: var(--very-dark-cyan);
    border: 2px solid var(--very-light-grayish-cyan);
    padding: 0px;
    width: 5.75rem;
}

.custom:hover, .custom:focus {
    background-color: var(--very-light-grayish-cyan);
}

.input-field {
    font-family: 'Space Mono', monospace;
    font-size: 1.4rem;
    text-align: right;
    width: 97.5%;
    height: 2.313rem;
    border: none;
    border-radius: 5px;
    background-color: var(--very-light-grayish-cyan);
    border: 2px solid var(--very-light-grayish-cyan);
}

input:hover {
    border: 2px solid var(--strong-cyan);
}

input:focus {
    border: 2px solid var(--strong-cyan);
}

.icons {
    position: absolute;
    margin-top: 0.55rem;
    margin-left: 0.2rem;
    color: var(--grayish-cyan);
    font-weight: 700;
}





/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.attribution { font-size: 11px; text-align: center; margin-top: 1%;}
.attribution a { color: hsl(228, 45%, 44%); }